---
- name: Prepare system (common)
  hosts: web
  become: true
  tags: [common]
  roles:
    - common

- name: Install and configure Nginx
  hosts: web
  become: true
  tags: [nginx]
  roles:
    - nginx

- name: Deploy EpicBook app
  hosts: web
  become: true
  tags: [epicbook]
  roles:
    - epicbook